
.user-management{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.user-view{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-actions{
    justify-content: center;
    display: flex;
    padding: 20px 0px 0px 0px;
    gap: 5px;
}

.search-users{
    width: 300px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 10px;
}

.search-button{
    background-color: rgb(64, 64, 185);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.place-table{
    justify-content: center;
    display: flex;
    padding: 30px;
}

.place-buttons{
    gap: 20px;
}

.boton-page-users{
    width: 250px;
    height: 40px;
    font-size: 17px;
}

.boton-page-users:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}