
.modal-body {
    padding: 0 !important;
    border-radius: 0px !important;
}

.body-modal{
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.imagen-login{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body-modal-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-group{
    display: grid;
    margin: 5px;
    text-align: left;
}

.form-control{
    width: 250px;
    height: 30px;
    border: solid 1px #181717;
}

.form-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.button-login{
    width: 250px;
    height: 30px;
    margin-top: 10px;
}

.title-modal{
    font-size: 20px;
    font: bold;
}

.form-input-modal-file{
    background-color: antiquewhite;
}