.register-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

.place-imagen {
    text-align: center;
    background-color: antiquewhite;
}

.place-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.place-form-page-admin{
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.input-form{
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-size: 18px;
}

.input{
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.boton-register{
    width: 300px;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
}

.image-class{
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.form-registrar{
    background-color: #ccc;
    padding: 30px 50px 30px 50px;
    font-family: cursive;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-title-restore{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.text-title-form{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.go-login{
    padding: 20px;
    text-align: center;
    font-size: 18px;
    align-items: center;
    display: flex;
    gap: 20px;
}

.text-forgot{
    font-size: 16px;
    color: #333;
    padding: 0px 0px 15px 0px;
}

.place-form-restore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.confirmar-container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.confirmar-link, .image-class-confirmacion{
    padding: 20px;
}

.image-class-confirmacion{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .place-form{
        text-align: center;
        padding: 15px;
    }
}


@media (max-width: 768px) {
    .register-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 10px 0px 10px 0px;
        height: auto;
    }

    .place-imagen{
        width: 100%;
        height: 200px;
    }

    .place-form{
        background-color: rgb(255, 255, 255);
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 10px;
        border-radius: 8px;
    }

    .text-title-restore, .text-forgot, .go-login{
        font-size: 15px;
        text-align: center;
    }

    .input-form{
        font-size: 15px;
        width: 100px;
        margin-bottom: 10px;
    }

    .input, .boton-register{
        width: 250px;
        height: 30px;
    }

    .input{
        padding: 10px;
    }
}