
.nav-class{
    width: 250px;
    height: 100vh;
    background-color: #1D1E21;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    align-content: center;
}


.options-nav{
    background-color: #1D1E21;
    width: 100%;
    padding: 15px;
}

.nav-section{
    margin: 20px;
    font-size: 16px;
    color: white;
    height: auto;
}

#logout{
    background-color: red;
    color: white;
}

#logout:hover{
    background-color: #ffffff;
    color: #1D1E21;
}

.nav-section-sub{
    height: auto;
    font-size: 16px;
    padding: 15px;
    width: auto;
}


.nav-section-options{
    color: #000000;
    font-size: 14px;
    justify-content: center;
}

.style-sidebar{
    background-color: #222;
    padding: 24px;
    color: white;
}

.style-sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;
    background: #222;
    color: white;
}

.style-sidebar-content > div {
    flex: 1;  
    display: flex;
    align-items: center; 
    justify-content: center;
    border-bottom: 1px solid #333;
}