
.nav-class{
    width: 250px;
    height: 100vh;
    background-color: #1D1E21;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    align-content: center;
}

.options-nav{
    background-color: #1D1E21;
    width: 100%;
    padding: 15px;
}

.nav-section{
    margin: 20px;
    font-size: 16px;
    color: white;
    height: 50px;
}

#logout{
    background-color: red;
    color: white;
}

#logout:hover{
    background-color: #ffffff;
    color: #1D1E21;
}