
.category-title{
    font-size: 24px;
    padding: 5px 0px 0px 20px;
}

.category-description {
    font-size: 18px;
    color: #000000;
    margin-top: 5px;
    padding-left: 20px;
}

.recurda{
    width: 800px;
    display: grid;
    justify-content: center;
    margin: 0 auto;
}

.loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

