
.price-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-card{
    padding: 10px 20px 10px 20px;
}

.price-text{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}


.footer-card{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.card-sistem-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
}

.imagen-post{
    height: 200px;
    object-fit: cover;
}