
.dashboard-content {
    padding: 25px;
    margin-top: 70px;
}

.data-user{
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0C0D0D;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    z-index: 1000;
}

.dashboard-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.dashboard-options-exit{
    display: flex;
    gap: 50px;
}

.dashboard-button-exit{
    cursor: pointer;
    width: 100px;
    font-size: 16px;
}

.dashboard-welcome-message{
    font-size: 16px;
    color: white;
}

.dashboard-logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.dashboard-icon-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 20px;
    cursor: pointer;
}

.sidebar-config-section{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-config-list{
    padding: 0px;
    list-style: none;
    margin: 0;
    gap: 15px;
    display: grid;
    color: white;
    align-items: center;
    width: 100%;
}

.sidebar-config-title{
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.dashboard-popover{
    background-color: #3a3b3b;
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
    max-width: 300px;
    font-size: 14px;
}


.dashboard-popover-title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}