
.drawer-container{
    width: 500px !important;
}

.drawer-container-admin{
    width: 600px !important;
}

.body-drawer{
    background-color: rgb(208, 208, 208);
    text-align: center;
    gap: 20px;
    display: grid;
    justify-content: center;
}

.imagen-detalle{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.titulo-detalle{
    font: bold;
    font-size: 20px;
    padding: 15px;
}

.detalles{
    font-size: 18px;
    text-align: justify;
    gap: 20px;
    display: grid;
}

.detalle{
    border: solid 1px black;
    padding: 10px;
    border-radius: 8px;
}

.chat{
    display: flex;
    justify-content: center;
}

.chat-boton{
    gap: 5px;
    padding: 10px;
}

.datos-vendedor{
    background-color: rgb(234, 215, 132);
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}

.datos-detalles{
    background-color: rgb(121, 174, 231);
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border-radius: 8px;
}

.vendedor{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.vendedor-options{
    padding: 10px 0px 10px 0px;
}


.imagen-detalle-container{
    height: 200px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}