
.button-create-category{
    background-color: rgb(64, 64, 185);
    color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}


.button-view-post{
    background-color: rgb(54, 149, 94);
    color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
}


.user-actions{
    justify-content: space-between;
    display: flex;
    margin: 20px;
}

.user-actions-buttons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.user-actions-buscador{
    display: flex;
    margin: 20px;
    justify-content: center;
}

.search-users{
    width: 300px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}


.search-users-input{
    width: 400px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}


.search-button{
    background-color: rgb(64, 64, 185);
    color: white;
    cursor: pointer;
    height: 40px;
}

.icon{
    margin: 8px;
}

.table-container{
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
    overflow-x: auto;
}

.table-users{
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.table-header th {
    background-color: rgb(42, 42, 50);
    color: white;
    font-weight: bold;
    border: none;
    padding: 20px 0px 20px 0px;
}


.description {
    text-align: left;
}

td {
    align-content: center;
    height: 50px;
}

.accions-table{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-acions{
    padding: 8px;
}

.button-accion-edit{
    cursor: pointer;
    text-align: center;
    color: #000000;
    /*border-radius: 5px;
    background-color: rgb(229, 237, 79);
    padding: 10px;
    width: auto;
    height: auto; */
}

.table-users td p {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    -webkit-box-orient: vertical;
    max-height: 4.5em;
    line-height: 1.5em;
}

.estado-activo {
    display: grid;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(11, 101, 11) !important;
    color: white !important;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: auto;
}

.estado-disponible {
    display: grid;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 19, 165) !important;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
}

.estado-no-disponible {
    display: grid;
    margin: 0 auto;
    text-align: center;
    color: rgb(255, 13, 13) !important;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
}

.estado-inactivo {
    display: grid;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(244, 101, 101) !important;
    color: white !important;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: auto;
}

