
.table-users{
    width: 100%;
    text-align: center;
    font-size: 16px;
}


td {
    align-content: center;
    height: 50px;
}

.accions-table{
    display: flex;
    justify-content: space-evenly;
}

.button-suspended{
    background-color: rgb(242, 119, 119);
    padding: 0px 15px 0px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.button-suspended:hover {
    background-color: rgb(200, 0, 0);
    color: white;
}

.button-view-post{
    background-color: rgb(167, 167, 224);
    padding: 0px 15px 0px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.button-view-post:hover{
    background-color: rgb(130, 130, 255);
    color: white;
}

.button-removed-suspended{
    background-color: rgb(87, 231, 174);
    padding: 0px 15px 0px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.button-removed-suspended:hover {
    background-color: rgb(13, 72, 37);
    color: white;
}

.status{
    color: red;
    border: solid 1px red;
    font: bold;
    padding: 0px 5px 0px 5px;
}

.subtitle-table{
    padding: 30px 0px 20px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.table-users td p {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    overflow: hidden;
    -webkit-box-orient: vertical;
    max-height: 4.5em;
    line-height: 1.5em;
}

.button-view{
    background-color: rgb(102, 102, 242);
    padding: 0px 15px 0px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

.button-view:hover{
    background-color: rgb(44, 44, 142);
    color: white;
}

.description{
    text-align: left;
    padding: 5px;
}